@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h4>A bookstore wants to develop a new computer tool to:</h4>
<ul>
    <li>
        Import information from its stock
    </li>
    <li>
        Get information about a particular book
    </li>
    <li>
        Calculate the price of a basket of books
    </li>
</ul>
<br/>
<p>
    You are in charge of the development of this tool whose functionalities are detailed below. You are requested to implement the different methods exposed by the interface described in Appendix 4, following the specifications below.
</p>
