@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Nadya Hristova<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    +359 89 7575 094
</address>

<address>
    <strong>Support:</strong> <a href="mailto:nadia.geo.hristova@gmail.com">nadia.geo.hristova@gmail.com</a><br />
</address>
